@tailwind base;

@tailwind components;

@font-face {
    font-family: "raleway";
    src: url("raleway_thin-webfont.woff") format("woff"),
        url("raleway_thin-webfont.eot") format("embedded-opentype"),
        url("raleway_thin-webfont.svg") format("svg"),
        url("raleway_thin-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@tailwind utilities;